* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 130px;
}
.container_pd {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px 20px;
}
@media (max-width: 1280px) {
    .container {
        padding: 0 48px;
    }
}
@media (max-width: 1020px) {
    .container {
        padding: 0 30px;
    }
}
@media (min-width: 1441px) {
    .container {
        max-width: 1920px;
    }
}
main {
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
}

img {
    width: 100%;
    display: block;
    user-select: none;
    pointer-events: none;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color_white);
}

::-webkit-scrollbar-thumb {
    background: var(--color_green1);
    border-radius: 6px;
    transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color_green2);
}

.h2_title {
    font-family: "EB Garamond", serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 46px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--color_black);
}

.h3_title {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color_black);
}

.text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -1%;
    vertical-align: middle;
    color: #a1a1a1;
}

.btn {
    padding: 12px 16px;
    border-radius: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: -0.5%;
    text-align: center;
    vertical-align: middle;
    border: none;
    transition: var(--trans);
    cursor: pointer;

    &.btn_white {
        background-color: var(--color_white);
        color: var(--color_green1);
    }

    &.btn_green {
        background-color: var(--color_green1);
        color: var(--color_white);
    }
}

.swiper-btn {
    width: 17.75px;
    cursor: pointer;
    position: static;
    margin: 0;
    padding: 0;
    height: fit-content;

    &::after {
        content: none;
    }
}

.input_box {
    width: 100%;

    label {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 117%;
        letter-spacing: -3%;
        vertical-align: middle;
        color: var(--color_green2);
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        background: transparent;
        padding-bottom: 10px;
        border: none;
        border-bottom: 1px solid var(--color_green2);
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 117%;
        letter-spacing: -3%;
        vertical-align: middle;
        outline: none;
        color: #b2c3c5;

        &::placeholder {
            color: #b2c3c5;
        }
    }
}

.selector {
    width: 100%;

    .input-selector {
        position: relative;
        width: 100%;
    }

    .select-box {
        display: flex;
        align-items: center;
        gap: 10px;

        padding-bottom: 10px;
        border-bottom: 1px solid var(--color_green2);

        cursor: pointer;
        user-select: none;

        svg {
            width: 4.48px;
            height: 10.3px;
            flex-shrink: 0;
            transition: transform 0.25s ease;
        }
    }

    .selected {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 117%;
        letter-spacing: -3%;
        vertical-align: middle;
        color: #b2c3c5;
        transition: color 0.2s ease;
    }

    .select-wrapper.active {
        svg {
            transform: rotate(90deg);
        }

        .dropdown-list {
            max-height: 220px;
            opacity: 1;
            pointer-events: auto;
        }
    }

    .dropdown-list {
        position: absolute;
        top: calc(100% + 12px);
        left: 0;
        right: 0;

        margin: 0;
        padding: 6px 0;
        list-style: none;

        background: rgba(255, 255, 255, 0.92);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);

        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

        max-height: 0;
        opacity: 0;
        overflow-y: auto;
        pointer-events: none;

        transition:
            max-height 0.3s ease,
            opacity 0.2s ease;

        z-index: 30;
    }

    .dropdown-item {
        padding: 10px 16px;

        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: -0.5%;

        color: var(--color_black);
        cursor: pointer;

        transition:
            background-color 0.2s ease,
            color 0.2s ease;
    }
}

@media (max-width: 1020px) {
    .input {
        width: 251px;

        input {
            padding: 11px 24px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    // тут писати ховери (вони будуть лише для десктопа)
    .btn {
        &:hover {
            transform: scale(0.98);
        }
    }

    .problems__list li:hover {
        background-color: var(--color_white);
        color: var(--color_green1);
    }

    .selector .dropdown-item:hover {
        background-color: rgba(130, 158, 161, 0.15);
        color: var(--color_black);
    }

	.service-card:hover, .blog-card:hover {
		opacity: 0.8;
	}

	.service-info__photo:hover img {
		opacity: 0.8;
	}

	.footer-container .footer-link:hover {
		color: var(--color_green1);
	}
}
