* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	text-decoration: none;
	list-style: none;
}
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 130px;
}
.container_pd {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0px 20px;
}
@media (max-width: 1250px) {
	.container {
		padding: 0 40px;
	}
}
@media (max-width: 1020px) {
	.container {
		padding: 0 20px;
	}
}
@media (min-width: 1441px) {
	.container {
		max-width: 1920px;
	}
}
main {
	overflow: hidden;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: #fff;
}

img {
	width: 100%;
	display: block;
	user-select: none;
	pointer-events: none;
}
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: var(--color_white);
}

::-webkit-scrollbar-thumb {
	background: var(--color_green1);
	border-radius: 6px;
	transition: all 0.35s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color_green2);
}

.h2_title {
	font-family: "EB Garamond", serif;
	font-weight: 500;
	font-style: Medium;
	font-size: 46px;
	line-height: 120%;
	letter-spacing: 0%;
	vertical-align: middle;
	text-transform: uppercase;
	color: var(--color_black);
}

.text {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: -1%;
	vertical-align: middle;
	color: #a1a1a1;
}

.btn {
	padding: 12px 16px;
	border-radius: 12px;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-style: Medium;
	font-size: 18px;
	line-height: 145%;
	letter-spacing: -0.5%;
	text-align: center;
	vertical-align: middle;
	border: none;
	transition: var(--trans);
	cursor: pointer;

	&.btn_white {
		background-color: var(--color_white);
		color: var(--color_green1);
	}

	&.btn_green {
		background-color: var(--color_green1);
		color: var(--color_white);
	}
}

.input_box {
	width: 100%;

	label {
		font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 10px;
line-height: 117%;
letter-spacing: -3%;
vertical-align: middle;
color: var(--color_green2);
margin-bottom: 10px;
	}

	input {
		width: 100%;
		background: transparent;
		padding-bottom: 10px;
		border: none;
		border-bottom: 1px solid var(--color_green2);
		font-family: "Inter", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 117%;
letter-spacing: -3%;
vertical-align: middle;
		outline: none;
		color: #b2c3c5;
	}
}

@media (max-width: 1020px) {
	main {
		padding-top: 73px;
	}

	.input {
		width: 251px;

		input {
			padding: 11px 24px;
			font-size: 14px;
			line-height: 18px;
		}
	}
}


@media (hover: hover) and (pointer: fine) {
	// тут писати ховери (вони будуть лише для десктопа)
	.btn {
		&:hover {
			transform: scale(0.98);
		}
	}
}
